textarea{
    margin-left: 10%;
    margin-right: 10%;
    resize: none;
    width: 80%;
    height: 7vw;
}

#movie_comment{
    position: relative;
    margin-top: 50%;
}
#comments_frame {
    position: relative;
    top: 5vw;
    width: 90%;
    margin-left: 5%;
}
#comments {
    border-radius: 2rem;
    position: absolute;
    width: 100%;
    border-style: solid;
    border-color: rgb(0,79,139);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#comment_input{
    position: relative;
    width: 95%;
    margin: 1.25%;
    padding: 1.25%;
}
#comment_button{
    position: relative;
    background: rgb(0,79,139);
    padding: 0.5vw;
    color: white;
    float: right;
    border: none;
    margin-right: 10%;
}
#comment_button:hover{
    background: rgb(0, 48, 84);
}

#rate{
    position: relative;
    background: rgba(0, 128, 0, 0);
    padding: 0.5vw;
    font-size: medium;
    color: black;
    float: left;
    border: none;
}

#rate_button{
    position: relative;
    float: left;
    margin-left: 10%;
}
#rate_button button{
    font-size: small;
    width: 30px;
}

.comment {
    word-wrap: break-word;
    position: relative;
    width: 95%;
    margin: 1.25%;
    padding: 1.25%;
    display: block;
}

.comment h3{
    position: relative;
    color: rgb(0,79,139);
    text-align: left;
}

.comment p{
    position: relative;
    text-align: left;
}

.comment:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.delete_comment_button {
    font-size: medium;
    bottom: 20%;
    right: 3%;
    background: rgba(0,0,0,0);
    border: none;
    color: red;
    position: absolute;
    z-index: 1;
}

.delete_comment_button:hover {
    background: rgba(0,0,0,0);
    color: #5e0000;
}


