.CoverPage{
    max-height: 100%;
    max-width: 100%;
    display: flex;
  }

  .CoverPageDateContainer{
    position: relative;
    margin-left: 80px;
    margin-top: -10px;
  }

  #Date{
    position: absolute;
    font-size: 70px;
    margin-left: -320px;
    margin-top: 24px;
  }

  #Month{
    position: absolute;
    font-size: 25px;
    margin-top: 30px;
    margin-left: -240px;
  }

  #Year{
    position: absolute;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 42px;
    margin-left: -170px;
  }

  #Day{
    position: absolute;
    font-size: 25px;
    margin-left: -240px;
    margin-top: 75px;
  }

  .img-wrapper {
    position: relative;
  }

  .img-wrapper > img {
    height: 500px;
    width: 360px;
    border-radius: 2rem;
    cursor: pointer;
    margin-top: 130px;
    margin-left: -320px;
    margin-bottom: 30px;
  }

  .CoverPageCommentContainer{
    position: relative;
    display: flex;
    font-weight: bold;
  }

  #CoverPageComment1{
    font-size: 30px;
    margin-left: 100px;
    margin-top: -400px;
  }

  #CoverPageComment2{
    position: absolute;
    font-size: 30px;
    margin-left: 120px;
    margin-top: -280px;
  }

  /* .img-wrapper > img,
  .img-wrapper > .CoverPageCommentContainer {
    transition: 200ms ease-in-out;
  } */

  /* .img-wrapper:hover > img.blur {
    filter: blur(3px);
  } */

  .img-wrapper:hover > img.zoom {
    transform: scale(1.1);
  }

  /* .img-wrapper > .CoverPageCommentContainer.fade {
    opacity: 0;
  }

  .img-wrapper:hover > .CoverPageCommentContainer.fade {
    opacity: 1;
  } */
