.CoverPage{
    max-height: 100%;
    max-width: 100%;
    display: flex;
    /* background-color: #d1ddd0;
    background-size: contain; */
  }

  .CoverPageDateContainer{
    position: relative;
  }

  #Date{
    position: relative;
    font-size: 90px;
    margin-left: -150px;

  }

  #Month{
    position: relative;
    font-size: 45px;
    margin-top: -105px;
    margin-left: -400px;
  }

  #Year{
    position: relative;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: -200px;
  }

  #Day{
    position: relative;
    font-size: 40px;
    margin-left: -400px;
  }

  .img-wrapper {
    position: relative;
  }

  .img-wrapper > img {
    position: relative;
    margin-top: 30px;
    margin-left: -0px;
    height: 580px;
    width: 360px;
    display: block;
    border-radius: 2rem;
    object-fit: cover;
    object-position: center;
  }

  .img-wrapper > .CoverPageCommentContainer{
    position: relative;
    inset: 0;
    background: rgba(255, 255, 255, 0.4);
    height: 580px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -580px;
    border-radius: 2rem;
  }

  #CoverPageComment1{
    font-size: 45px;
    align-items: center;
  }

  #CoverPageComment2{
    font-size: 45px;
  }
