.CoverPage{
    max-height: 100%;
    max-width: 100%;
    display: none;
  }
  
  .CoverPageDateContainer{
    position: absolute;
    top: 10%;
    left: 15%;
    height: 100px;
    width: 100px;
  }
  
  #Date{
    position: absolute;
    font-size: 90px;
  }
  
  #Month{
    position: absolute;
    left: 120px;
    top: 30px;
    font-size: 22px;
  }
  
  #Year{
    position: absolute;
    left: 170px;
    top: 30px;
    font-size: 22px;
  }
  
  #Day{
    position: absolute;
    left: 120px;
    top: 68px;
    font-size: 22px;
  }
  
  .CoverPagePoster{
    position: absolute;
    top: 25%;
    left: 20%;
    height: 480px;
    width: 360px;
    display:block;
  }
  
  .CoverPageCommentContainer{
    position: absolute;
    top: 35%;
    left: 50%;
    height: 300px;
    width: 300px;
  }
  
  #CoverPageComment1{
    font-size: 30px;
  }
  