.MovieInfo {
  text-align: left;
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  background-color: #f5c851;
  }

.MovieInfoContainer{
  position: relative;
  margin-top: 130px;
  margin-left: 300px;
}

.MovieInfoPoster{
    position: relative;
    height: 460px;
    width: 340px;
    display:block;
    border-radius: 1.8rem;
    margin-left: -100px;
    margin-top: -20px;
}

.TitleYearContainer{
    position: relative;
    margin-top: -90px;
    margin-left: -80px;
    color: white;
    font-weight: bold;
}

.MovieInfoTitle{
    position: relative;
    font-size: 30px;
    max-width: 1200px;
}

.MovieInfoYear{
    position: relative;
    font-size: 30px;
}

.GeneralInfoContainer{
    position: relative;
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-top: -470px;
    margin-left: 270px;
}

.MovieInfoRating{
    position: relative;
    font-size: 50px;
    color: white;
    font-weight: 700;
    margin-left: 790px;
    margin-top: -320px;
}

.MovieInfoDescription{
    position: relative;
    max-width: 750px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-left: 270px;
    margin-top: 370px;
}

.MovieInfoDirector{
  max-width: 400px;
  max-height: 50px;
  text-overflow: ellipsis;
}

.MovieInfoWriter{
  max-width: 400px;
  max-height: 50px;
  text-overflow: ellipsis;
}

.MovieInfoLikeButtonLiked{
  position: absolute;
  display: flex;
  color: #f5c851;
  background-color: white;
  height: 60px;
  width: 100px;
  align-items: center;
  cursor: pointer;
  border-radius: 7px;
  border: none;
  outline: none;
  font-weight: 1000;
  font-size: 30px;
  margin-top: -30px;
  margin-left: 810px;
}

.MovieInfoLikeButtonLiked:hover {
  background-color: #fada5e;
  color: white;
}

.MovieInfoLikeButtonNotLiked{
  position: absolute;
  display: flex;
  color: white;
  background-color: red;
  height: 60px;
  width: 120px;
  align-items: center;
  cursor: pointer;
  border-radius: 7px;
  border: none;
  outline: none;
  font-weight: 1000;
  font-size: 30px;
  margin-top: -30px;
  margin-left: 810px;
}

.MovieInfoLikeButtonNotLiked:hover {
  background-color: #b22222;
}
