.Movies{
  position: relative;
  left: 0px;
  width: 1500px;
  display: block;
  background-color: #f5c851;
  background-size: cover;
}

.movieCardContainer{
  position: relative;
  left: 200px;
  width: 1100px;
}

.MovieCard{
  position: relative;
  display: block;
  float: left;
  margin: 10px;
}

.movieImg-wrapper > img {
  width: 240px;
  height: 320px;
  border-radius: 1.8rem;
  object-fit: cover;
  object-position: center;
  display: table-cell;
  cursor: pointer;
}

.movieImg-wrapper:hover > img.zoom {
  transform: scale(1.1);
}

.MovieCardTitle{
  position: relative;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  color: white;
  font-size: 20px;
}
