/* .navbar {
    background-color: transparent;
    border: 3px;
    border-style: solid;
    border-color: rgb(0,79,139);
    height: 60px;
    width: 99vw;
    position: relative;
  } */

  .image {
    height: 100px;
    width: 100%;
    margin-left: -150px;
    margin-top: -22px;
    display: flex;
  }

  .SearchContainer {
    height: 40px;
    width: 700px;
  }

  .SearchForm {
    position: flex;
    top: 30px;
    left: 37%;
  }

  .SearchText {
    position: flex;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    border: 2px;
    border-style: solid;
    border-color: rgb(0,79,139);
    padding-left: 30px;
    }

  #SearchButton {
    color: red;
    position: flex;
    top: 20px;
    left: 490px;
    margin-right: 30px;
    background-color: transparent;
    border-color: transparent;
  }

  /* #MainButton {
    position: absolute;
    left: 0px;
    height: 60px;
    width: 120px;
    background-color: transparent;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 3px;
    border-style: solid;
    border-color: rgb(0,79,139);
  } */

  /* #MoviesButton {
    position: absolute;
    left: 120px;
    height: 60px;
    width: 120px;
    background-color: transparent;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 3px;
    border-style: solid;
    border-color: rgb(0,79,139);
  } */

  /* #Login {
    position: absolute;
    top: 3px;
    right: 0px;
    height: 60px;
    width: 120px;
    background-color: transparent;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 3px;
    border-right: 0px;
    border-style: solid;
    border-color: rgb(0,79,139);
  } */
