.genre-tag {

}

li{
	display:inline-block;
    border-right:2px solid #ddd;
    height: 25px;
    width:auto;
    padding-left:1em;
    padding-right:1em;
    margin-bottom:.5em
}

.genre-tag:hover {
    color:#0000ff;
    background-color: #ddd;
}

input{
    width: 10px;
}
