.upload{
    position: relative;
    width: 1000px;
}

.shortInputBox{
    margin-top: 6px;
    min-width: 18em;
    height: 37px;
    padding: 0px, 10px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-bottom: 31px;
    transition: all 250ms ease-in-out;
    width: 500px;
}

.uploadMovieTitle{
    width: 500px;
}

.uploadMovieDescription{
    height: 150px;
    width: 800px;
}

.uploadButton{
    height: 30px;
    width: 100px;
    position: absolute;
    right: 300px;
}

.editButton{
    height: 30px;
    width: 100px;
    position: absolute;
    right: 190px;
}

.genreCheckBoxs{
    position: relative;
    width: 900px;
}

.checkBoxContainer{
    position: relative;
    float: left;
    height: 30px;
    width: 160px;
}

.checkBoxContainer:hover{
    background-color: rgb(209, 209, 209);
}

.genreCheckBox{
    padding: 0px, 10px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-bottom: 31px;
    position: absolute;
    left: 120px;
    height: 15px;
}

.checkBoxLabel{
    position: absolute;
    left: 0px;
    font-size: 15px;
}