.UserProfile {
    height: 100vh;
    width: 100vw;
    background-color: #f5c851;
}

.profileUserInformation {
    position: relative;
    height: auto;
    left: 280px;
}

.ProfileImage:hover #profileUploadText {
    color: rgba(255, 255, 255, 1.0);
}

.ProfileImage:hover #profileUploadLabel {
    background-color: rgba(0, 0, 0, 0.5);
}

.profileAvatar {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 30px;
}

#profileUploadLabel {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.0);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    top: 30px;
}

#profileUploadText {
    position: absolute;
    color: rgba(255, 255, 255, 0.0);
    font-size: 20px;
    left: 40px;
    top: 60px;
}

.profileInformation {
    position: relative;
    top: 200px;
}

.profileName {
    left: 30px;
    font-size: 24px;
}

.profileEmail {
    left: 30px;
    font-size: 24px;
    top: -20px;
}

.display_title {
    left: -300px;
    font-size: 24px;
    top: -10px;
}

.profileFavouriteMovieCard {
    float: left;
    position: relative;
    margin-right: 5px;
    margin-bottom: 5px;
}

.profileFavouriteMovieTitle {
    margin: 0;
    padding: 0;
    top: -10px;
    left: 20px;
    position: relative;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.img-wrapper-User > img {
    display: block;
    height: 240px;
    width: 180px;
    border-radius: 1.8rem;
    left: 1rem;
    margin: 10px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.img-wrapper-User:hover > img.zoom {
    transform: scale(1.1);
}
