.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(253, 250, 241);
}


/********************************************************************/
.navbar {
  background-color: transparent;
  border: 3px;
  border-style: solid;
  border-color: rgb(0,79,139);
  height: 60px;
  width: 100vw;
  position: relative;
}

.SearchContainer {
  height: 50px;
  width: 300px;
  }

.SearchForm {
  position: absolute;
  top: 10px;
  left: 37%;
}

.SearchText {
  position: absolute;
  width: 350px;
  height: 40px;
  border-radius: 30px;
  border: 2px;
  border-style: solid;
  border-color: rgb(0,79,139);
  padding-left: 30px;
  }

#SearchButton {
  position: absolute;
  top: 10px;
  left: 340px;
  background-color: transparent;
  border-color: transparent;
}

#MainButton {
  position: absolute;
  left: 0px;
  height: 60px;
  width: 120px;
  background-color: transparent;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 3px;
  border-style: solid;
  border-color: rgb(0,79,139);
}

#MoviesButton {
  position: absolute;
  left: 120px;
  height: 60px;
  width: 120px;
  background-color: transparent;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 3px;
  border-style: solid;
  border-color: rgb(0,79,139);
}

#Login {
  position: absolute;
  top: 3px;
  right: 0px;
  height: 60px;
  width: 120px;
  background-color: transparent;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 3px;
  border-right: 0px;
  border-style: solid;
  border-color: rgb(0,79,139);
}

.MovieInfo {
  position: absolute;
  top: 100px;
  left: 0px;
  height: 700px;
  width: 900px;
  display: block;
}

.MovieInfoPoster{
  position: absolute;
  left: 250px;
  top: 100px;
  height: 320px;
  width: 240px;
  display:block;
}

.TitleYearContainer{
  position: absolute;
  left: 250px;
  top: 0px;
}

.MovieInfoTitle{
  position: relative;
  font-size: 30px;
}

.MovieInfoYear{
  position: absolute;
  top: 60px;
  left: 5px;
  font-size: 15px;
}

.GeneralInfoContainer{
  position: absolute;
  top: 100px;
  left: 520px;
}

.MovieInfoRating{
  position: absolute;
  left: 800px;
  top: 20px;
}

.MovieInfoDescription{
  position: absolute;
  top: 430px;
  left: 250px;
}

.CoverPage{
  max-height: 100%;
  max-width: 100%;
  display: none;
}

.CoverPageDateContainer{
  position: absolute;
  top: 10%;
  left: 15%;
  height: 100px;
  width: 100px;
}

#Date{
  position: absolute;
  font-size: 90px;
}

#Month{
  position: absolute;
  left: 120px;
  top: 30px;
  font-size: 22px;
}

#Year{
  position: absolute;
  left: 170px;
  top: 30px;
  font-size: 22px;
}

#Day{
  position: absolute;
  left: 120px;
  top: 68px;
  font-size: 22px;
}

.CoverPagePoster{
  position: absolute;
  top: 25%;
  left: 20%;
  height: 480px;
  width: 360px;
  display:block;
}

.CoverPageCommentContainer{
  position: absolute;
  top: 35%;
  left: 50%;
  height: 300px;
  width: 300px;
}

#CoverPageComment1{
  font-size: 30px;
}
