name: Deploy

on:
  push:
    branches:
      - main2

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "cpsc455montageserver" #Must be unique in Heroku
          heroku_email: ${{secrets.EMAIL}}
          appdir: "server" # <- This will point to the api folder in your project
